:root {
    --primary-color: #434455;
    --title-color: #2E2F42;
    --site-nav-color-item: #2E2F42;
    --primary-button-bg: #F4F4FD;
    --primary-button-color: #4D5AE5;
    --primary-button-bg-hover: #404BBF;
    --primary-button-color-hover: #FFFFFF;
}



/* Палитра
текс #434455
заголовок #2E2F42
фон #2E2F42
акцент #4D5AE5
*/

/* Шрифты
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* General */
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: var(--primary-color);
    width: 1440px;
}

/* Шрифты */
/* h1 */
.title-biggest {
    line-height: 1.07;
    font-size: 56px;
}

/* h2 */
.title-big {
    line-height: 1.11;
    font-size: 36px;
}
/* Body medium */

.title-body-medium {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
}
/* h3 */
.title-med {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
}


/* text */

.title-body {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

/* Button font */

.button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
}



.link {
    text-decoration: none;
}






.button {
    background: var(--primary-button-bg);
    color: var(--primary-button-color);
    height: 48px;
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
    background: var(--primary-button-bg-hover);
    color: var(--primary-button-color-hover);
}

/* Header */
 
    /* Nav */

        /* Logo */
        .logo {
            font-family: 'Raleway', sans-serif;
                letter-spacing: 0.03em;
                font-size: 18px;
                line-height: 1.17;
                font-weight: 800;
                text-transform: uppercase;
                color: #4D5AE5;
                
        }
        .logo-web-header {
        color: #4D5AE5;
        text-decoration-line: none;
        }
        .logo-web-header:active,
        .logo-web-header:visited,
        .logo-web-header:focus {
            color: #4D5AE5;
        }

        .logo-studio-header {
        color: #2E2F42;
        text-decoration-line: none;
        }
        .logo-studio-header:visited{
        color:#2E2F42
        }

        /* Site nav */
        .site-nav a {
        color: var(--site-nav-color-item);
        }
        .site-nav-link:active,
        .site-nav-link:hover,
        .site-nav-link:focus {
            color: #404BBF;
        }

        .site-nav-link {
            text-decoration-line: none;
        }
        .list {
         list-style: none;
          }

    /* Adress */

    .adress {
        list-style: none;
        
    }
    .adress .link:active,
    .adress .link:hover,
    .adress .link:focus {
        color: #404BBF;
    }


    .adress-mail,
    .adress-tel {
        color: var(--primary-color);
    text-decoration-line: none;
    }

    


    /* Main page */


    /* Hero */
    .hero {
        background: #2E2F42;
        height: 600px;
    }
/* Hero title */
    .hero-title {
        color: #FFFFFF;
        width: 496px;
        margin: 0 472px 0 472px;
        text-align: center;
        letter-spacing: 0.02em;
        
    }
    /* Hero button */
    .button.hero-button {
        font-family: 'Roboto', sans-serif;
        background: #4D5AE5;
        color: #FFFFFF;
        width: 169px;
        height: 56px;
        margin: 0 635px 0 636px;

    }

    .button.hero-button:hover,
    .button.hero-button:focus,
    .button.hero-button:active {
        background: #404BBF;
    }


    /* Feature */

      .list {
        list-style: none;
      }
        
      
    
    /* Feature title */
    .feature-main-title {
        color: var(--title-color);
        margin-bottom: 8px;
        letter-spacing: 0.02em;
    }

    
/* Feature items */
    .feature-container {
        width: 264px;
    }


    .feature-container-text {
        margin-top: 8px;
    }

    /* What are we doing */
    /* Whar are we doing title */
    .section-title {
        color: var(--title-color);
    }

    .title-doing {
        text-align: center;
        text-transform: capitalize;
    }

    /* Our team */

    .our-team {
        background: #F4F4FD;
    }
/* Our team title */
    .name-title {
        color: var(--title-color);
        margin-bottom: 8px;
    }

    .title-team {
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .title-med {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }


    .team-part {
        background-color: #FFFFFF;

    }
/* Team information */
    .team-profession {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-top: 8px;
    }

    .container-info {
        margin-top: 32px;
        width: 232px;
        height: 56px;
    }   






    /* Footer */
    .footer{
        background: #2E2F42;
        height: 312px;
    }
    


    /* Logo */
    .logo-studio-footer {
        color: #FFFFFF;
        text-decoration-line: none;
    }

    .logo-studio-footer:visited {
        color: #FFFFFF;
    }
    .logo-web-footer {
        text-decoration-line: none;
    }
    .logo-web-footer:active,
    .logo-web-footer:visited,
    .logo-web-footer:focus {
        color: #4D5AE5;
    }


    /* Text */
    .footer-text {
        color: #E7E9FC;
        width: 264px;
    }









    /* Portfolio */
        /* Filters */
        
        
        .filter-list {
        list-style: none;
        }



        .filter-button {
            font-family: 'Roboto', sans-serif;
        }

        /* Content */
        .content-list{
            list-style: none;
        }

        

        .content-list-title {
            color: var(--title-color);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }

        .content-list-text {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--primary-color);
            
        }

        .filter-button{
            font-family: 'Roboto', sans-serif;
        }


        

        

       